<!-- task_manager/templates/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Менеджер задач" %}{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <!-- Текст выровнен по левому краю -->
        <h1 class="display-5 fw-bold">{% trans "Привет от Хекслета" %}</h1>
        <p class="col-md-8 fs-4">
            {% trans "Практические курсы по программированию" %}
        </p>
        <hr>
        <a
            class="btn btn-primary btn-lg"
            href="https://ru.hexlet.io/"
            role="button"
            target="_blank"
            rel="noopener"
        >
            {% trans "Узнать больше" %}
        </a>
    </div>
</div>
{% endblock %}k %}