{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Просмотр задачи" %}{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>{% trans "Просмотр задачи" %}</h1>
    
    <div class="card mt-3">
        <div class="card-header bg-secondary text-white">
            <h3 class="mb-0">{{ task.name }}</h3>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-3">{{ task.description|default:"Нет описания" }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-3">{% trans "Автор" %}</div>
                <div class="col-9">{{ task.author.first_name }} {{ task.author.last_name }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-3">{% trans "Исполнитель" %}:</div>
                <div class="col-9">{{ task.executor.get_full_name|default:"Не назначен" }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-3">{% trans "Статус" %}:</div>
                <div class="col-9">{{ task.status.name }}</div>
            </div>
            <div class="row">
                <div class="col-3">{% trans "Дата создания" %}</div>
                <div class="col-9"><small class="text-muted">{{ task.created_at|date:"d.m.Y H:i" }}</small></div>
            </div>
            <div class="row mb-2">
                <!-- Эта колонка теперь занимает всю ширину -->
                <div class="col-12">
                    <div class="font-weight-bold">{% trans "Метки" %}:</div>
                    <!-- Добавляем вложенный div с отступом для списка -->
                    <div class="ml-3">
                        {% if task.labels.all %}
                            <ul class="mb-0">
                                {% for label in task.labels.all %}
                                    <li>{{ label.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="text-muted">{% trans "Нет меток" %}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            {% if user.is_authenticated %}
                <a href="{% url 'tasks:update' task.pk %}">{% trans "Изменить" %}</a>
                <br>
                <a href="{% url 'tasks:delete' task.pk %}">{% trans "Удалить" %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}