{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
    {% if form.instance.pk %}{% trans "Изменение задачи" %}{% else %}{% trans "Создание задачи" %}{% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.instance.pk %}{% trans "Изменение задачи" %}{% else %}{% trans "Создание задачи" %}{% endif %}
    </h1>
    
    <form method="post" class="mt-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">
            {% if form.instance.pk %}{% trans "Изменить" %}{% else %}{% trans "Создать" %}{% endif %}
        </button>
    </form>
{% endblock %}